[submodule "FdF/minilibx-linux"]
	path = FdF/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:joafern22/minishell.git
[submodule "catch_lib"]
	path = catch_lib
	url = git@github.com:Shishudy/catch_lib.git
